.main-container {
  display: flex;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(234, 234, 234, 0.55);
}

.principal-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100vw;
  box-shadow: 0px 0px 10px 0px rgba(196, 195, 195, 0.55);
  margin: 50px;
  margin-top: 130px;
  border-radius: 1rem;
  background-color: white;
}

.title {
  margin-right: auto;
  margin-top: 80px;
  width: 20%;
  text-align: right;
}

.header {
  text-align: center;
  position: absolute;
  background-color: #800008;
  color: white;
  width: 100vw;
}

.my-order {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(196, 195, 195, 0.55);
  text-align: center;
  margin-left: auto;
  width: 600px;
  background-color: white;
  justify-content: space-between;
}

.order-title {
  margin-top: 100px;
}

.line {
  width: 350px;
}