.pay-button {
  margin-bottom: 40px;
  background-color: #27742d;
  border-style: none;
  color: white;
  padding: 12px;
  width: 100px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

.pay-button:hover {
  background-color: #2f5d33;
  cursor: pointer;
}